@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: '/women-chat-logo.png';
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(148, 98, 233) !important;
  border-radius: 8px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
